.beerContainer {
  display: flex;
  flex-wrap: wrap;
}

.App {
  background-image: url(./assets/space.jpg);
  background-repeat: repeat-y;
  /* background-size: cover; */
  /* height: 100vh; */
  min-height: 100vh;
}
